<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/app/styles/account.css">

    <title>Minha Conta</title>

</head>
<body>

<header>

    <section class="logo-area">

        <button class="logo-button">
            ✂
        </button>

        <section>

            <h1>CrochetCommerce</h1>

            <p>Meu perfil</p>

        </section>

    </section>

    <section class="profile-header">

        <button class="notification-button">
            🔔
        </button>

        <section class="profile-text">

            <h2>Maria Silva</h2>

            <p>Crocheteira</p>

        </section>

        <button class="profile-button">
            👤
        </button>

    </section>

</header>

<main>

    <aside>

        <button class="paginaInicial">
            Página inicial
        </button>

        <nav>

            <button class="menu-button active-menu" id="profile">
                ⊚ Meu Perfil
            </button>

            <button class="menu-button" id="orders">
                ⌲ Meus Pedidos
            </button>

            <button class="menu-button" id="config">
                ⚙ Configurações
            </button>

        </nav>

    </aside>

    <section class="account-content">

        <section class="profile-card">

            <section class="profile-banner"></section>

            <section class="profile-info">

                <section class="profile-image-area">

                    <img 
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1200&auto=format&fit=crop"
                        alt="Foto de perfil"
                    >

                    <button class="camera-button">
                        📷
                    </button>

                </section>

                <button class="edit-profile-button">
                    ✎ Editar Perfil
                </button>

                <h2 id="user-name">
                    Maria Clara Souza
                </h2>

                <p class="bio">
                    Apaixonada por artesanato e crochê desde pequena. Sempre em busca de peças únicas e feitas com amor.
                </p>

                <p class="city">
                    ⌖ São Paulo, SP
                </p>

                <section class="stats-area">

                    <article class="stat-card">

                        <span>
                            ⌲
                        </span>

                        <h3>
                            1
                        </h3>

                        <p>
                            Pedidos
                        </p>

                    </article>

                    <article class="stat-card">

                        <span>
                            ♡
                        </span>

                        <h3>
                            3
                        </h3>

                        <p>
                            Favoritos
                        </p>

                    </article>

                    <article class="stat-card">

                        <span>
                            ☆
                        </span>

                        <h3>
                            4.9
                        </h3>

                        <p>
                            Avaliações
                        </p>

                    </article>

                </section>

            </section>

        </section>

        <section class="tabs-section">

            <section class="tabs-buttons">

                <button class="tab-button" id="orders-tab">
                    ⌲ Meus Pedidos
                </button>

                <button class="tab-button active-tab">
                    ♡ Favoritos
                </button>

                <button class="tab-button">
                    ✎ Meus Dados
                </button>

            </section>

            <section class="tabs-content">


                <!--pedidios do user-->
                <section class="orders-content">

                    <article class="order-card">

                        <img 
                            src="https://anamariacraft.com.br/wp-content/uploads/2024/12/294.jpg"
                            alt="Pedido"
                        >

                        <section>

                            <h3>
                                Amigurumi Urso Ted
                            </h3>

                            <p>
                                Pedido realizado em 20/05/2026
                            </p>

                        </section>

                        <span class="order-price">
                            R$ 89,90
                        </span>

                    </article>

                </section>

                <!--favoritados da conta-->
                <section class="favorites-content active-content">

                    <section class="favorites-grid">

                        <article class="favorite-card">

                            <img 
                                src="https://i.pinimg.com/736x/9f/54/d5/9f54d5bc64c42013d69b9c2228aefbb2.jpg"
                                alt="Produto"
                            >

                            <button class="favorite-button">
                                ♡
                            </button>

                            <section class="favorite-info">

                                <h3>
                                    Kit Coelhinhos Decorativos
                                </h3>

                                <p>
                                    Ana Crochês
                                </p>

                            </section>

                        </article>
                <article class="favorite-card">

                            <img 
                                src="https://i.pinimg.com/736x/e9/d6/09/e9d60969f22c494b04e84defc410152a.jpg"
                                alt="Produto"
                            >

                            <button class="favorite-button">
                                ♡
                            </button>

                            <section class="favorite-info">

                                <h3>
                                    Tapete Redondo Colorido
                                </h3>

                                <p>
                                    Lar & Arte
                                </p>

                            </section>

                        </article>

                        <article class="favorite-card">

                            <img 
                                src="https://i.pinimg.com/736x/94/37/97/9437974f5c6c3e8c927453cf9f7c2215.jpg"
                                alt="Produto"
                            >

                            <button class="favorite-button">
                                ♡
                            </button>

                            <section class="favorite-info">

                                <h3>
                                    Necessaire de Crochê
                                </h3>

                                <p>
                                    Fios & Cia
                                </p>

                            </section>

                        </article>

                    </section>

                </section>

                <!--info da conta-->
                <section class="data-content">

                    <form id="account-form">

                        <label for="name">
                            Nome completo
                        </label>

                        <input 
                            type="text"
                            id="name"
                            value="Maria Clara Souza"
                        >

                        <label for="city">
                            Cidade
                        </label>

                        <input 
                            type="text"
                            id="city"
                            value="São Paulo, SP"
                        >

                        <label for="bio">
                            Bio
                        </label>

                        <textarea id="bio">Apaixonada por artesanato e crochê desde pequena. Sempre em busca de peças únicas e feitas com amor.</textarea>

                        <label for="email">
                            E-mail
                        </label>

                        <input 
                            type="email"
                            id="email"
                            value="mariaclara@email.com"
                        >

                        <label for="password">
                            Nova senha
                        </label>

                        <input 
                            type="password"
                            id="password"
                            value="12345678"
                        >

                        <section class="form-buttons">

                            <button type="submit" class="save-button">
                                ✓ Salvar alterações
                            </button>

                            <button type="button" class="cancel-button">
                                ✕ Cancelar
                            </button>

                        </section>

                    </form>

                </section>

            </section>

        </section>

    </section>

</main>

<script src="assets/app/scripts/account.js"></script>

</body>
</html>