<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/public/styles/login.css">

    <title>Login</title>

</head>
<body>

<main>

    <section class="login-logo">

        <button class="logo-button">
            ✂
        </button>

        <h1>CrochetCommerce</h1>

        <p>Entre na sua conta</p>

    </section>

    <section class="login-container">

        <section class="login-tabs">

            <button class="active-tab" id="login">
                Login
            </button>

            <button id="register">
                Cadastrar
            </button>

        </section>

        <form id="login-form">

            <label for="email">
                Email
            </label>

            <section class="input-area">

                <span>✉</span>

                <input 
                    type="email"
                    id="email"
                    placeholder="seu@email.com"
                >

            </section>

            <label for="password">
                Senha
            </label>

            <section class="input-area">

                <span>🔒</span>

                <input 
                    type="password"
                    id="password"
                    placeholder="••••••••"
                >

            </section>

            <a href="#" class="forgot-password">
                Esqueceu a senha?
            </a>

            <button type="submit" class="login-button">
                Entrar
            </button>

        </form>

        <section class="divider">

            <span></span>

            <p>ou</p>

            <span></span>

        </section>

        <button class="google-button">

            <span>G</span>

            Continuar com Google

        </button>

    </section>

    <section class="register-link">

        <p>
            Não tem uma conta?
            <a href="#">Cadastre-se</a>
        </p>

    </section>

    <footer>

        <nav>

            <a href="#">Sobre Nós</a>

            <a href="#">Como Funciona</a>

            <a href="#">FAQs</a>

            <a href="#">Contato</a>

        </nav>

        <nav>

            <a href="#">Termos de Uso</a>

            <a href="#">Privacidade</a>

        </nav>

    </footer>

</main>

<script src="assets/public/scripts/login.js"></script>

</body>
</html>