<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="assets/public/styles/register.css">

    <title>Cadastro</title>

</head>
<body>

<main>

    <section class="register-logo">

        <button class="logo-button">
            ✂
        </button>

        <h1>CrochetCommerce</h1>

        <p>Crie sua conta</p>

    </section>

    <section class="register-container">

        <section class="register-tabs">

            <button id="loginButton">
                Login
            </button>

            <button class="active-tab" id="registerButton">
                Cadastrar
            </button>

        </section>

        <form id="register-form">

            <section class="account-type">

                <p>Você é:</p>

                <section class="type-buttons">

                    <button 
                        type="button"
                        class="type-card active-type"
                        data-type="client"
                    >

                        <span>✧</span>

                        <h2>Cliente</h2>

                        <p>Comprar crochê</p>

                    </button>

                    <button 
                        type="button"
                        class="type-card"
                        data-type="seller"
                    >

                        <span>✂</span>

                        <h2>Crocheteira</h2>

                        <p>Vender crochê</p>

                    </button>

                </section>

            </section>

            <label for="name">
                Nome
            </label>

            <section class="input-area">

                <span>⌔</span>

                <input 
                    type="text"
                    id="name"
                    placeholder="Seu nome completo"
                >

            </section>

            <label for="email">
                Email
            </label>

            <section class="input-area">

                <span>✉</span>

                <input 
                    type="email"
                    id="email"
                    placeholder="seu@email.com"
                >

            </section>

            <label for="password">
                Senha
            </label>

            <section class="input-area">

                <span>🔒</span>

                <input 
                    type="password"
                    id="password"
                    placeholder="••••••••"
                >

            </section>

            <button type="submit" class="register-button">
                Criar Conta
            </button>

        </form>

        <section class="divider">

            <span></span>

            <p>ou</p>

            <span></span>

        </section>

        <button class="google-button">

            <span>G</span>

            Continuar com Google

        </button>

    </section>

    <footer>

        <nav>

            <a href="#">Sobre Nós</a>

            <a href="#">Como Funciona</a>

            <a href="#">FAQs</a>

            <a href="#">Contato</a>

        </nav>

        <nav>

            <a href="#">Termos de Uso</a>

            <a href="#">Privacidade</a>

        </nav>

    </footer>

</main>

<script src="assets/public/scripts/register.js"></script>

</body>
</html>